body {
    margin: 0;
}

.main-login {
    width: 100vw;
    height: 100vh;
    background: rgb(15, 15, 15);
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-login {
    width: 50vh;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.left-login>h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(107, 105, 108);
    padding-top: 40px;
    text-decoration:underline;
    text-decoration-color: rgb(228, 171, 171);
}

.left-login>img {
    margin: auto;
    display: block;
    height: 35vw;
    padding-bottom: 170px;
}

.right-login {
    width: 50vh;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.card-login {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px 35px;
    background:  rgb(15, 15, 15);
    border-radius: 20px;
    box-shadow: 0px 0px 10px red;
}

.card-login>h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:rgb(173, 82, 82);
    font-weight: bold;
    margin: 0;
}

.textfield>form {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0px;
    width: 100%;
}

.textfield>form>p>input {
    color: black;
    font-size: 17px;
    background-color: white;
    border-radius: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    cursor: pointer;
    outline: none;
    box-sizing: border-box;

}

.textfield>form>p>input::placeholder {
    color: black;
}

.textfield>form>p>label {
    font-weight: bold;
    color: rgb(173, 82, 82);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 17px;
}

p>#botao {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    width: 100%;
    padding: 7px 0px;
    margin: 25px;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    background-color: rgb(173, 82, 82);
    outline: none;
    text-transform: uppercase;
    box-shadow: 0px 0px 40px rgb(201, 0, 0);

}


#erro {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    display: block;
    box-sizing: border-box;
    font-size: 15px;
    color:  white;
    margin: auto;
    transform: translate(5%,-90%);
}

@media only screen and (max-width:950) {
    .card-login {
        width: 85%;
    }
}

